<div class="row d-flex p-3 m-0">
  <ng-container *ngFor="let food of foods">
    <div class="campaign-card shadow-sm flex-fill">
      <div class="container d-flex flex-column h-100" (click)="handleFoodClick(food._id)">
        <div class="row-7 flex-fill">
          <div class="col menu-img bg-secondary" style="background-image: url({{food.img}});">
          </div>
        </div>
        <div class="row flex-fill">
          <div class="col d-flex flex-column p-3">
            <p class="fs-6 fw-bolder">{{food.title}}</p>
            <p class="text-black-50 fw-light">{{food.description}}</p>
            <p class="fs-6 fw-bolder" style="color: rgb(236, 106, 0)">{{food.sales_price}}₺</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>