.creditCard {
    background-color: #1b1b1b;
    width: 530px;
    height: 270px;
    border-radius: 10px;
    color: white;
    margin: 20px;
    padding: 30px
}

.creditCard:hover {
    background-color: #2b2b2b;
    cursor: pointer;
}