<form (ngSubmit)="submitCustomerForm()" #form="ngForm">
  <div class="form-group">
    <label>Profil Resmi</label>
    <app-image-picker [imageUrl]="customerFormData.img" (newImgEvent)="handleCustomerImageChange($event)"></app-image-picker>
  </div>
  <div class="form-group">
    <label for="name">Ad</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customerFormData.name" required>
  </div> 
  <div class="form-group">
    <label for="surname">Soyad</label>
    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="customerFormData.surname" required>
  </div>
  <div class="form-group">
    <label for="gender">Cinsiyet</label>
    <input type="radio" class="form-check-input" id="gender" name="gender" value="male" [(ngModel)]="customerFormData.gender" required>Erkek
    <input type="radio" class="form-check-input" id="gender" name="gender" value="female" [(ngModel)]="customerFormData.gender" required>Kadın
  </div>
  <button type="submit" [disabled]="!form.valid">Güncelle</button>
</form>