<div *ngIf="!userService.loaded || !foodService.loaded">
  <div class="fullscreen-loading"></div>
</div>

<div class="row-2">
  <div class="d-flex justify-content-end">
    
    <button class="logout-btn" (click)="logout()">
      <i class="fa-solid fa-power-off fa-xl"></i>
    </button>
  </div>
</div>
<div class="row-10">
  <app-main-customer *ngIf="userService.currentUser?.details?.type === 'customer'"></app-main-customer>
  <app-main-restaurant *ngIf="userService.currentUser?.details?.type === 'restaurant'"></app-main-restaurant>
</div>