<app-loading *ngIf="!food"></app-loading>

<div *ngIf="food" class="container pt-0" style="max-width: 700px">
  <div class="food-card shadow m-auto">
    <div class="d-flex flex-column">
      <div class="row-6 ">
        <div class="col food-img bg-secondary" style="background-image: url({{food.img}});">
          <mat-icon
          mat-list-icon
          (click)="handleFavorite($event, food._id)"
          [style.color]="isFavorite(food._id) ? 'rgb(255, 174, 0)' : 'rgb(0, 0, 0)'">
          star{{isFavorite(food._id) ? '' : '_outline'}}
          </mat-icon>
        </div>
      </div>
      
      <div class="p-2">
        <div class="row-1">
          <div class="col d-flex flex-column p-3 pb-0">
            <p class="fs-5 fw-bolder">{{food.title}}</p>
          </div>
        </div>

        <div class="row-3">
          <div class="col d-flex p-3 pt-0">
            <span class="fs-5 m-1 text-black fw-bolder">{{food.sales_price}}₺</span>
            <span class="fs-6 m-1 text-decoration-line-through text-danger fw-bold">%{{getDiscount(food)}} indirim</span>
          </div>
        </div>
        
        <div class="row-3">
          <div class="col d-flex flex-column p-3 pt-0">
            <p class="fs-6 text-black-50 fw-light">{{food.description}}</p>
          </div>
        </div>
        
        <div class="row-1">
          <div class="col d-flex flex-column p-3">
            <a class="text-decoration-none text-black-50" href="main/restaurants/{{food.createdBy}}">
              <img src="assets/images/restaurant.png" width="20" height="20" class="me-1">
              Restorana git
            </a>
          </div>
        </div>

        <hr>
        <div class="row my-3">
          <p class="text-center fw-bolder fs-5" style="color: orangered">Sepetinize Ekleyin</p>
        </div>
        <div class="row d-flex mb-3">
          <div class="cart-controls col d-flex justify-content-center align-items-center">
            <img src="assets/images/plus.png" width="60" height="60" class="me-1" (click)="cartService.increaseQuantity(food)">
            <span class="fs-4 mx-5">{{cartService.getQuantity(food)}}</span>
            <img src="assets/images/minus.png" width="60" height="60" class="me-1" (click)="cartService.decreaseQuantity(food)">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>