<mat-toolbar class="bg-dark fs-2 text-white shadow">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/images/leftover-logo-dark.png" style="background:white; margin-right: 10px" width=50 height=50 />
  <span class="example-spacer">Left Over</span>
  <button (click)="handleNotifClick()" matTooltip="Bildirimler" matTooltipPosition="below"mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button class="text-danger" (click)="handleLogout()" matTooltip="Çıkış Yap" matTooltipPosition="below" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container vh-100" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-nav-list class="p-0 m-0">
      <a routerLink="profile" routerLinkActive="active-nav-link" class="text-decoration-none text-black p-3 m-0 d-flex justify-content-start align-items-center fs-5"> 
        <img src={{userService.currentUser?.details?.img}} class="rounded-circle" width="40" height="40" />
        <span>&nbsp;&nbsp;Profil</span>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="home" routerLinkActive="active-nav-link" class="text-decoration-none text-black p-3 m-0 d-flex justify-content-start align-items-center fs-5"> 
        <mat-icon mat-list-icon>home</mat-icon>
        <span>&nbsp;&nbsp;Anasayfa</span>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="restaurants" routerLinkActive="active-nav-link" class="text-decoration-none text-black p-3 m-0 d-flex justify-content-start align-items-center fs-5"> 
        <mat-icon mat-list-icon>restaurant_menu</mat-icon>
        <span>&nbsp;&nbsp;Restoranlar</span>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="search" routerLinkActive="active-nav-link" class="text-decoration-none text-black p-3 m-0 d-flex justify-content-start align-items-center fs-5"> 
        <mat-icon mat-list-icon>search</mat-icon>
        <span>&nbsp;&nbsp;Arama</span>
      </a>
      <mat-divider></mat-divider>
      <a routerLink="cart" routerLinkActive="active-nav-link" class="text-decoration-none text-black p-3 m-0 d-flex justify-content-start align-items-center fs-5"> 
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        <span>&nbsp;&nbsp;Sepetim</span>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
  </mat-drawer>

  <div class="h-100">
    <router-outlet>
      <button mat-icon-button (click)="handleBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </router-outlet>
  </div>
</mat-drawer-container>
