<app-loading *ngIf="!categoryService.loaded || !campaignService.loaded"></app-loading>


<div *ngIf="categoryService.loaded">
  <p-carousel
  [value]="categoryService.categories"
  [numVisible]="6"
  [numScroll]="1"
  [responsiveOptions]="responsiveOptions"
  [showIndicators]="false"
  [circular]="true"
  [draggable]="true"
  >
    <ng-template pTemplate="header">
      <h2 class="mx-5">Kategoriler</h2>
    </ng-template>
    <ng-template let-category pTemplate="item">
      <div class="category-item" (click)="handleCategoryClick(category.key)" style="background-image: url({{category.img}});">
        <div class="category-label">{{ category.label }}</div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div *ngIf="campaignService.loaded">
  <p-carousel
  [value]="campaignService.campaigns"
  [numVisible]="1"
  [numScroll]="1"
  [showIndicators]="true"
  [circular]="true"
  [autoplayInterval]="5000"
  >
    <ng-template pTemplate="header">
      <h2 class="mx-5 mt-5">Kampanyalar</h2>
    </ng-template>
    <ng-template let-campaign pTemplate="item">
      <div class="campaign-item img-fluid" (click)="handleCampaignClick(campaign._id)" style="background-image: url({{campaign.img}});">
      </div>
    </ng-template>
  </p-carousel>
</div>