<app-loading *ngIf="isLoading"></app-loading>

<div class="row">
  <div class="col" style="background: #c2fff7">
    <div class="container" style="max-width: 450px;">
      <div class="row d-flex align-items-center justify-content-center vh-100">
        <form (ngSubmit)="signup()" class="form">
          <p class="text-center lead fw-bolder" style="margin-bottom: 50px; font-size: 36px">LEFT OVER</p>
          <h2>Kayıt Ol</h2>
          <div class="form-group my-3">
            <label>Email</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
          </div>
          <div class="form-group my-3">
            <label>Şifre</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" required>
          </div>
          <div class="form-group my-3">
            <label>Şifre Tekrar</label>
            <input type="password" [(ngModel)]="password_again" name="password_again" class="form-control" required>
          </div>
          <div class="form-group my-3">
            <button class="btn btn-lg btn-dark form-control mx-0" type="submit" [disabled]="isLoading">Kayıt Ol</button>
          </div>
          <span>Zaten bir hesabın var mı?<a href="/login" class="text-decoration-none fw-bold text-black"> Giriş yap.</a></span>
        </form>
      </div>
    </div>
  </div>
  <div class="col">
    <ng-lottie [options]="options"></ng-lottie>
  </div>
</div>