<a routerLink="/main" class="btn btn-primary btn-lg rounded-circle">
  <i class="fa fa-arrow-left"></i>
</a>

<div *ngIf="comments.length === 0">
  <h2 class="pt-5">Henüz yorum yapılmamış.</h2>
</div>

<div *ngIf="isFetchingData" class="fullscreen-loading"></div>

<div *ngIf="comments.length > 0">
  <ul *ngFor="let comment of comments">
    <li class="list-group-item">
      <div class="d-flex flex-row">
        <img src="{{ comment.user.img }}" alt="user" width="50" height="50" class="rounded-circle">
        <div class="d-flex flex-column">
          <span class="mx-2 my-auto">{{ comment.user.fullName }}</span>
          <span class="mx-2 my-auto">{{ comment.createdAt }}</span>
        </div>
      </div>
      <div class="d-flex flex-row">
        <span class="mx-2 my-auto">{{ comment.description }}</span>
      </div>
  </ul>
</div>
