<a routerLink="/main" class="btn btn-outline-dark m-3 btn-lg rounded-circle">
  <i class="fa fa-arrow-left"></i>
</a>

<app-loading *ngIf="isFetchingData"></app-loading>

<div class="vh-100" style="background-color: #eee;">
  <div class="container p-0 p-3" style="max-width: 700px;">
    <div *ngIf="comments.length === 0 && !isFetchingData">
      <h2 class="pt-5 text-center">Henüz yorum yapılmamış.</h2>
    </div>
    <div *ngIf="comments.length > 0">
      <ul *ngFor="let comment of comments">
        <li class="list-group-item">
          <div class="d-flex w-100 border border-2 p-2 bg-white shadow" style="border-radius: 16px;">
            <img src="{{ comment.user.img }}" alt="user" width="50" height="50" class="rounded-circle">
            <div class="d-flex flex-column flex-grow-1">
              <span class="mx-2 fw-bolder my-auto">{{ comment.user.fullname }}</span>
              <span class="mx-2 my-auto">{{ comment.description }}</span>
              <span class="mx-2 my-auto text-end">{{ comment.createdAt | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>