<div *ngIf="isSubmitting || fetchingData">
  <div class="fullscreen-loading"></div>
</div>

<h2>Restaurant Edit</h2>
<form (ngSubmit)="submitRestaurantForm()" #form="ngForm">
  <div class="form-group">
    <label>Profile Image</label>
    <app-image-picker [imageUrl]="restaurantFormData.img" (newImgEvent)="handleRestaurantImageChange($event)"></app-image-picker>
  </div>
  <div class="form-group">
    <label for="name">Restaurant Title</label>
    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="restaurantFormData.title" required>
  </div>
  <div class="form-group">
    <label for="description">Restaurant Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="restaurantFormData.description" required>
  </div>
  <button type="submit" [disabled]="!form.valid">Submit</button>
</form>