<div *ngIf="!userService.loaded" class="fullscreen-loading"></div>


<div *ngIf="userService.loaded">
  <ul *ngFor="let restaurant of userService.users">
    <li *ngIf="restaurant.details?.type==='restaurant'">
      <img src={{restaurant.details.img}} width="100" height="100">
      <h3>{{restaurant.details.title}}</h3>
      <h4>{{restaurant.details.description}}</h4>
      <h5>{{restaurant.details.comments.length}} comments</h5>
      <a (click)="handleFavorite(restaurant.details._id)">
        <mat-icon mat-list-icon>
          favorite{{userService.currentUser?.details.favoriteRestaurants.includes(restaurant.details._id) ? '':'_outline'}}
        </mat-icon>
      </a>
    </li>
  </ul>
</div>