

button {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.fullscreen-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* background-color: rgba(255, 255, 255, 0.5); */
    z-index: 9999;
    background-image: url('https://i.gifer.com/ZZ5H.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
    cursor: pointer; /* Set default cursor style */
}

.nav-link:hover {
    cursor: pointer; /* Set cursor style on hover */
}

.logout-btn {
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 50%;
    color: #d20f0f;;
    font-size: 1.2rem;
}

.logout-btn:hover {
    transition: .14s ease-in-out;
    background-color: #d20f0f;
    color: white;
}

html, body { height: 100%; background-color: white; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";